# Ignore dependencies
node_modules/

# Ignore environment files
.env

# Ignore development and local files
.DS_Store
.vscode/
.github/

# Ignore output files
pictures/
user_data/
*.xlsx
*.log

# Ignore git files
.git/
.gitignore 